{% extends "pages/list_quest.html" %}
{% load static %}


{% block head_content %}

    <h1>{{ name_user }}</h1>
    <p>{{ image_message }}</p>
    <a href="#" class="btn btn-primary btn-xl rounded-pill mt-5">Muspolic it</a>
{% endblock %}

{% block section_content %}
{% load crispy_forms_tags %}
<div class="container">
    <div class="row align-items-center">
        <div class="col-lg-6 order-lg-2">
            <div class="p-5">
                <img class="img-fluid rounded-circle" src="{{ MEDIA_URL }}{{ creator.user_image.url }}" >
            </div>
        </div>
        <div class="col-lg-6 order-lg-1">
            <div class="p-5">
                <form name = "form" enctype = "multipart/form-data" action ="{% url 'register:profile_image' name_user %}" method ="post" >
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-success">Change profile picture</button>
                </form>                
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row align-items-center">
        <div class="col-lg-6 order-lg-2">
            <div class="p-5">
                <h1>My Muspolic's</h1>
            </div>
        </div>
        <div class="col-lg-6 order-lg-1">
            <div class="p-5">
                </form>                
            </div>
        </div>
    </div>
</div>

{% for question in latest_question_list %}

    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="p-5">
                    <img class="img-fluid rounded-circle" src={{question.album_url}} alt="">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="p-5">
                    <h2 class="display-4"><a href="{% url 'polls:detail' question.id %}">{{ question.album_name }}</a></h2>
                    <p>{{ question.artist_name }}</p>
                </div>
            </div>
        </div>
    </div>

s{% endfor %}
{% endblock %}